*{
    margin: 0;
    padding: 0;
}

#cont-general {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    background: #000000;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
h2 {
    color: purple;
    margin: 20px 0 15px;
    padding: 10px;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
}

.right,.left {
    width: 42%;
    background: transparent;
    border:1px solid purple;
    box-shadow: 0px 4px 8px 0px purple;
    margin: 50px;
    position: relative;
}

.button button {
    color: #000000;
    background-color: purple;
    font-size: 18px;
    margin: 8px;
    padding: 13px 35px;
    border-color: transparent;
}
.button button:hover {
    color: aliceblue;
    background-color: blueviolet;
    border-color: rgb(255, 255, 255); 
}

.circulo {
    border-radius: 50%;
}
.rombo {
    transform:rotate(45deg);
    border-radius: 0 ;
}
#seleccionC{
    width: 50px;
    height: 50px;
    margin: 10px;
}
#figura {
    height: 250px;
    width: 250px;
    background: purple;
    margin: 150px auto;
    transition: .4s;
    background-size: cover;
    background-position: center;

}

@keyframes brincos{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(0,-20px);
    }
}

#figura.estrella {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 74%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

}

.superior {
    position: absolute;
    top: 0;
    bottom: 22rem;
    right: 0;
    left: 0;
    margin: 0 auto !important;
}

.bottom {
    position: absolute;
    top: 27.5rem;
    bottom: 0;
    right: 0;
    left: 0;
}

.derecha{
    position: absolute;
    right: 0;
    left: 30rem;
    /* margin: 150px 0 !important; */
}

.izquierda {
    position: absolute;
    right: 30rem;
    left: 0;
    /* margin: 150px 0 !important; */
}



.diagonal {
    position: absolute;
    animation: diagonal 7s infinite ease-in-out;
    bottom: 27.7rem;
    left: 0;
}

#figura .fondo {
    background: linear-gradient(purple,purple,red,blue) !important;
}

#panel-lateral {
    position: absolute;
    left: -400px;
    top: 0;
    bottom: 0;
    width: 400px;
    height: auto;
    background: purple;
    z-index: 10; 
    transition: .4s;   
}

#panel-lateral.active {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    height: auto;
    background: purple;
    border: 2px solid rgba(4, 136, 92, 0.795);
    z-index: 100;    
}

#panel-superior{
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: -150vh;
    background: purple;
    border: 2px solid rgba(4, 136, 92, 0.795);
    z-index: 10; 
    transition: .4s;
}

#panel-superior.desactive{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: purple;
    border: 2px solid rgba(4, 136, 92, 0.795);
    z-index: 10; 
}

#panel-lateral .fila,#panel-superior .fila{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 40px;
    font-size: 30px;
}
#panel-lateral button,#panel-superior button{
    color: aliceblue;
    padding: 10px 20px;
    background: #000000;
    border: none;
}
#panel-lateral .menu{
    text-align: start;
    font-size: 25px;
    color: #000000;
    list-style: none;
    text-decoration: none;
}
#panel-lateral .menu li{
    padding: 10px 40px;
    margin-bottom: 10px;

}

#panel-lateral .menu li a{
    text-decoration: none;
    color: black;
    transition: .4s;
}

#panel-lateral .menu li a:hover{
    color: white;
}


#panel-lateral button:hover,#panel-superior button:hover{
    color: #000000;
    padding: 10px 20px;
    background: blueviolet;
    border: none;
    border-radius: 50px;
}







